In [1]:
import pandas as pd
import numpy as np

# Load datasets
lifespans = pd.read_csv('familiar_lifespan.csv')
iron = pd.read_csv('familiar_iron.csv')

In [2]:
lifespans.head()

     pack   lifespan
0    vein  76.255090
1  artery  76.404504
2  artery  75.952442
3  artery  76.923082
4  artery  73.771212

In [3]:
iron.head()

     pack    iron
0    vein     low
1  artery  normal
2  artery  normal
3  artery  normal
4  artery    high

In [5]:
# Save lifespans for vein pack subscribers
vein_pack_lifespans = lifespans.lifespan[lifespans.pack=='vein']

# Calculate average lifespan for vein pack
np.mean(vein_pack_lifespans)

76.16901335636044

Null: The average lifespan of a Vein Pack subscriber is 73 years.

Alternative: The average lifespan of a Vein Pack subscriber is NOT 73 years.

In [6]:
# Run one-sample t-test
from scipy.stats import ttest_1samp
tstat, pval = ttest_1samp(vein_pack_lifespans, 73)
pval < 0.05

True

In [7]:
# Save lifespans for artery pack subscribers
artery_pack_lifespans = lifespans.lifespan[lifespans.pack=='artery']

# Calculate artery pack life spans
np.mean(artery_pack_lifespans)

74.8736622351704

Null: The average lifespan of a Vein Pack subscriber is equal to the average lifespan of an Artery Pack subscriber.
    
Alternative: The average lifespan of a Vein Pack subscriber is NOT equal to the average lifespan of an Artery Pack subscriber.

In [8]:
# Run two-sample t-test
from scipy.stats import ttest_ind
tstat, pval = ttest_ind(vein_pack_lifespans, artery_pack_lifespans)
pval < 0.05

False

In [10]:
# Create contingency table
Xtab = pd.crosstab(iron.pack, iron.iron)
Xtab

iron    high  low  normal
pack
artery    87   29      29
vein      20  140      40

Null: There is NOT an association between which pack (Vein vs. Artery) someone subscribes to and their iron level.

Alternative: There is an association between which pack (Vein vs. Artery) someone subscribes to and their iron level.

In [12]:
# Run Chi-Square test
from scipy.stats import chi2_contingency
chi2, pval, dof, exp = chi2_contingency(Xtab)
pval < 0.05

True